{% extends "layouts/main.html" %}

{% set pageName="Order Summary" %}

{% block content %}

<h2 class="govuk-heading-l">{{pageName}}</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<p>Digital replacement of the eAP1 form</p>

<div class="govuk-!-padding-right-3">

</div>
        </div>



  <div class="govuk-grid-column-two-thirds">


{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Order Summary"
    }
  },
  rows: [
   {
      key: {
        text: "Includes one third right hand panel with anchor links to each panel"
      },
      actions: {
        items: [
          {
            href: "/order-summary-4",
            text: "Version-4",
            visuallyHiddenText: "Version 4"
          }
        ]
      }
      
    },
    {
      key: {
        text: "Version used in UR test"
      },
      actions: {
        items: [
          {
            href: "/order-summary-1",
            text: "Version-1",
            visuallyHiddenText: "Version 1"
          }
        ]
      }
      
    },
    {
      key: {
        text: "Post UR with accessibility amendment in Panel 4"
      },
      actions: {
        items: [
          {
            href: "/order-summary-2",
            text: "Version-2",
            visuallyHiddenText: "Version 2"
          }
        ]
      }
      
    },
        {
      key: {
        text: "Revised Panel 4 with additional spacing for readability 15/06/26"
      },
      actions: {
        items: [
          {
            href: "/order-summary-3",
            text: "Version-3",
            visuallyHiddenText: "Version 3"
          }
        ]
      }
      
    }
  ]
}) }}


 
</div>

  
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  </div>
</div>
{% endblock %}
