{% extends "layouts/main.html" %}

{% set pageName="e-AP1 replacement" %}

{% block content %}

<h2 class="govuk-heading-l">{{pageName}}</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<h4 class="govuk-heading-m">Digital replacement of the e-AP1 form with GDS styling</h4>

<div class="govuk-!-padding-right-3">

</div>
        </div>


<!--

https://om-digital-eap1-5738e943d9ce.herokuapp.com/order-summary-1
 
p/w om-eap1

-->

  <div class="govuk-grid-column-full">


{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: {
    title: {
      text: "Order Summary"
    }
  },
  rows: [
   {
      key: {
        text: "Panel 1 postcode only. Fax option from panel 7 removed. Changed content in panel 8. 09/07/26"
      },
      actions: {
        items: [
          {
            href: "/order-summary-4",
            text: "Version-4",
            visuallyHiddenText: "Version 4"
          }
        ]
      }
      
    },
            {
      key: {
        text: "Revised Panel 2 with additional spacing for readability 15/06/26"
      },
      actions: {
        items: [
          {
            href: "/order-summary-3",
            text: "Version-3",
            visuallyHiddenText: "Version 3"
          }
        ]
      }
      
    },
        {
      key: {
        text: "Post UR with accessibility amendment in Panel 4"
      },
      actions: {
        items: [
          {
            href: "/order-summary-2",
            text: "Version-2",
            visuallyHiddenText: "Version 2"
          }
        ]
      }
      
    },
    {
      key: {
        text: "Version used in UR test"
      },
      actions: {
        items: [
          {
            href: "/order-summary-1",
            text: "Version-1",
            visuallyHiddenText: "Version 1"
          }
        ]
      }
      
    }
  ]
}) }}


 
</div>

  
</div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
  </div>
</div>
{% endblock %}
